@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Invia Guard -About</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">
           
            <a asp-action="Index" class="logo d-flex align-items-center  me-auto me-lg-0">
                <i class="bi bi-fingerprint" style="color:mediumpurple"></i>
                <h1>INVIA</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a asp-action="Index">Home</a></li>
                    <li><a asp-action="About" class="active">About</a></li>
                    <li><a asp-action="services">Services</a></li>
                    <li><a asp-action="contact">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->

    <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>About</h2>
                        <p>Welcome to Invia, where innovation meets reliability in the realm of cybersecurity solutions.
                            With a trusted legacy of providing smart solutions to Telcos for their Enterprise, Government, 
                            and Business customers, Invia is your strategic partner in navigating the complexities of the digital landscape.</p>

                        <a class="cta-btn" asp-action="contact">Contact Us</a>

                    </div>
                    </div>
                </div>
            </div>
        </div><!-- End Page Header -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row gy-4 justify-content-center">
                    <div class="col-lg-4">
                        <img src="/assets/img/profile.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 content">
                        <h2>Our Commitment</h2>
                        <p class="fst-italic py-3">
                            At Invia, we understand that in the fast-evolving telco industry, standing out requires more than 
                            just technology—it demands an unparalleled commitment to customer experience.
                            With a direct and deep-rooted experience in the telecommunications sector,
                            we bring forth industry-leading solutions designed to elevate the experiences of our clients and their end-users.
                        </p>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i>  <strong>mail:</strong> <span>support@@invia.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.invia.au</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Location:</strong> <span>Australia | India | Singapore</span></li>
                                </ul>
                            </div>
                        </div>
                        <p class="py-3">
                            In the ever-changing landscape of telecommunications, we recognize the challenges faced by businesses. 
                            Invia excels in streamlining complex processes across procurement, billing, and operations. 
                            Our solutions offer modern approaches to age-old problems, transforming tedious administrative tasks, inventory tracking,
                            and overwhelming data management into seamless and efficient operations.
                        </p>
                        <p class="m-0">
                            Whether you're based in Australia or anywhere around the world, Invia simplifies the process of providing unmatched service. 
                            Our goal is to help you gain and retain customers, setting your business up for long-term success in an ever-evolving digital landscape.
                            Embark on a cybersecurity journey with Invia—a journey where innovation, reliability, and customer-centric 
                            solutions converge to redefine the future of your business.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="section-header">
                    <h2>Testimonials</h2>
                    <p>What they are saying</p>
                </div>

                <div class="slides-3 swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Invia's cybersecurity solutions have transformed the way we operate. 
                                    Their Enterprise One platform is a game-changer, providing us with the tools needed for seamless self-service and 
                                    unparalleled efficiency. Invia has truly elevated our business to new heights.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                    <h3>Saul Goodman</h3>
                                    <h4>Ceo &amp; Founder TechSphere Enterprises</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Invia's deep understanding of the telco industry sets them apart. 
                                    Their team took the time to comprehend our unique challenges and developed solutions that integrate 
                                    seamlessly into our operations. With Invia, we feel confident and secure in the ever-changing digital landscape.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                    <h3>Lisa Turner</h3>
                                    <h4> COO, NetConnect Solutions</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Working with Invia has been a game-changer for our business. 
                                    Their tailored solutions feel like a natural extension of our company, giving us a clear point of difference in the market. 
                                    The level of understanding and commitment they bring to the table is unmatched.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                    <h3>Jena Karlis</h3>
                                    <h4> Business Development Manager, Integrate Global</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Invia has streamlined our processes and eliminated the headaches associated with tedious admin and data management. 
                                    Their innovative solutions have significantly increased our operational efficiency, allowing us to focus on what matters 
                                    most—providing top-notch services to our customers.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                    <h3>Jessie Pinkman</h3>
                                    <h4> Operations Manager, ConnectCom</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Invia has simplified the way we provide services globally. Their solutions transcend geographical boundaries, 
                                    making it easy for us to offer unmatched service whether we're in Australia or anywhere else in the world. 
                                    Invia is a strategic partner for long-term success.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                    <h3>John Larson</h3>
                                    <h4>Entrepreneur</h4>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Invia</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Developed by <a href="https://kunalshokeen.tech">Kunal Shokeen</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader">
        <div class="line"></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>